<!DOCTYPE html>

<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title> Site</title>

 <!-- CSS only -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

 <!-- JavaScript Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

 <!-- Leaflet CSS -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
 integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
 crossorigin=""/>

 <!-- Leaflet JavaScript code -->
 <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
 integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
 crossorigin=""></script>

 <!-- D3 library -->
 <script src="https://d3js.org/d3.v5.min.js"></script>

 <!-- Our CSS -->
 <link rel="stylesheet" type="text/css" href="../static/css styles/main.css">

 <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

</head>

<body>

<div class="split">
<div class="split left">
<body style="background-color:#162942">
  <body style="background-color:#162942">
    <div class="navbar">
      <a class="active" href="index.html">Home</a>
      <a href="resources.html">Support Resources</a>
      <a href="detecting.html">Detecting Depression</a>
    </div>
    <br>
    <br>
    <br>  
  <div class="main">
    <center><img src="../static/graphics/Untitled design (2).png" alt="Sad" style="width:600px;height:50%"></center>
    </div>
  </div>
</div>

<div class="split right">
  <div class="centeredmh">
    <h1><strong>Talk About It!</strong></h1>
    <br>
    <p>When it comes to mental illness it is important to know 
        that you are not alone. Talking about mental health is a powerful 
        first step towards impoving your well-being. Begin the conversation 
        around your mental health and connect to others who are going through 
        similar situations.</p>

  <img src="../static/graphics/talk1.png"  alt="Prevention" style="width:600px" Align="left">
  </a>
  <br>
  <h3><strong>National Suicide Prevention Lifeline</strong><br>1‑800‑273‑TALK (8255)</h3>
   <p>The National Suicide Prevention Lifeline is a national network of local 
     crisis centers that provides free and confidential emotional support to 
     people in suicidal crisis or emotional distress 24 hours a day, 
     7 days a week in the United States.</p>
  
  <br>
  <br>
  
  <div class="talklinks">
  <img src="../static/graphics/talk2.png" alt="OK" style="width:600px" Align="left">
  </a>
  <br>
  <center><h3><strong>OK2Talk</strong><br>National Alliance on Mental Illness</h3></center>
    <p>OK2TALK is a community where teens and young adults struggling 
      with mental health conditions can find a safe place to talk about 
      what they’re experiencing by sharing their personal stories of 
      recovery, tragedy, struggle or hope. Anyone can add their voice by 
      sharing stories, poems, inspirational quotes, photos, videos, 
      song lyrics and messages of support in a safe, moderated space.</p>
  
  <br>
  <br>

  <img src="../static/graphics/talk3.png" alt="Active" style="width:600px" Align="left">
  </a>
  <br>
  <center><h3><strong>Active Minds</strong><br>Changing the conversation about mental health</h3></center>
    <p>Active Minds is a national leader for young adult mental health 
      advocacy/suicide prevention and brings to mental 
      health what no other organization can — the voice of young people 
      who are disproportionately affected by mental illnesses and the way 
      mental health is addressed on campuses and in society at large.
      <br>
      <br>
      Active Minds is present in more than 1,000 schools, communities and 
      workplaces nationwide, including over 600 student-led chapters. 
      Active Minds offers programs and services empower young adults to 
      reduce the stigma surrounding mental health, create communities of 
      support, and ultimately save lives.</p>

</body>
  