<!DOCTYPE html>

<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title> Site</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- D3 library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Our CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="../static/mainpage.css"> -->

</head>

<body>
<body style="background-color: #FFFFFF">
<img src="../static/graphics/banner.png">

<div class="container">
  <div class="navbar">
      <a href="/">Home</a>
      <a href="/mentalhealth.html">Mental Health</a>
      <div class="dropdown">
        <button class="dropbtn">Resources
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/assessment.html">Talk About It</a>
          <a href="/support.html">Support</a>
          <a href="/terms.html">Terms to Know</a>
        </div>
      </div>
    </div>
  <br>
<div class="login">
  <h1>Predict Depression Status</h1>

  <form action="{{ url_for('predict')}}"method="POST">

    <h2>For the following questions, type the number associated with the answer that best explains your situation.</h2>

    <p>Type the average amount of hours you spent working for money in college.</p>
    <input type="text" name="hrsworked" placeholder="Age" required="required" /><br>

    <p>Type your age.</p>
    <input type="text" name="age" placeholder="Age" required="required" /><br>

    <p>Type your BMI</p>
    <h3>BMI For Adults Widget</h3><br /><br /><br /><br />
    <p><iframe src='https://www.cdc.gov/healthyweight/assessing/adult-widget/iframe.html' frameborder='0' style='border: none;' width='170' height='395'>Please upgrade to web browser that supports iframes to see this CDC widget.</iframe>

    <input type="text" name="bmi" placeholder="Age" required="required" /><br>

    <p>"Where did you live while in college?"
      
      1=On-campus housing, residence hall <br>
      2=On-campus housing, apartment <br>
      3=Fraternity or sorority house <br>
      4=On- or off-campus co-operative housing <br>
      5=Off-campus, non-university housing <br>
      6=With my parents (or relatives) <br>
      7=Other (please specify)</p>

    <input type="text" name="residenc" placeholder="Where do currently live?" required="required" /><br>

    <p> How much time do you spend during the typical week attending class?<br>
      
      1=Less than 1 hour/week <br>
      2=1-2 hours/week <br>
      3=3-5 hours/week <br>
      4=6-10 hours/week <br>
      5=11-15 hours/week <br>
      6=16-20 hours/week <br>
      7=More than 20 hours/week</p>

    <input type="text" name="timeclass" placeholder="How much time do you spend during the typical week attending class?" required="required" /><br>


    <p> I tend to bounce back quickly after hard times.<br>
      
      1=Strongly disagree<br>
      2=Disagree<br>
      3=Neutral<br>
      4=Agree<br>
      5=Strongly agree</p>

    <input type="text" name="BRS_1" placeholder="I tend to bounce back quickly after hard times" required="required" /><br>

    <p> It does not take me long to recover from a stressful event.<br>
      
      1=Strongly disagree<br>
      2=Disagree<br>
      3=Neutral<br>
      4=Agree<br>
      5=Strongly agree</p>


    <input type="text" name="BRS_3" placeholder="It does not take long to recover from a stressful event" required="required" /><br>

    <p> I usually come through difficult times with little trouble.<br>
      
      1=Strongly disagree<br>
      2=Disagree<br>
      3=Neutral<br>
      4=Agree<br>
      5=Strongly agree</p>

    <input type="text" name="BRS_5" placeholder="I usually come through difficult times with little trouble" required="required" /><br>

    <p> How much do you agree with the following statement?: I feel isolated from campus life.<br>
      
      1=Strongly agree<br>
      2=Agree<br>
      3=Somewhat agree<br>
      4=Somewhat disagree<br>
      5=Disagree<br>
      6=Strongly disagree</p>

    <input type="text" name="belong8" placeholder="I feel isolated from campus life" required="required" /><br>

    <p> What is the highest level of education completed by your parents or stepparents?<br>
      
      This parent's education:<br>
      1=8th grade or lower<br>
      2=Between 9th and 12th grade (but no high school degree)<br>
      3=High school degree<br>
      4=Some college (but no college degree)<br>
      5=Associate's degree<br>
      6=Bachelor's degree<br>
      7=Graduate degree<br>
      8=Don't know

    </p>

    <input type="text" name="educ_par2" placeholder="Parent Education Level" required="required" /><br>

    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
  </form>
</div>




