<!DOCTYPE html>

<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title> Site</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- D3 library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/mainpage.css">

</head>

<body>
  <body style="background-color: #FFFFFF">
  <img src="../static/graphics/banner.png">
<div class="container">
<div class="navbar">
    <a href="/">Home</a>
    <a href="/mentalhealth.html">Mental Health</a>
    <div class="dropdown">
      <button class="dropbtn">Resources
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/assessment.html">Self Assessment</a>
        <a href="/support.html">Support</a>
        <a href="/terms.html">Terms to Know</a>
      </div>
    </div>
  </div>
<br>
<div class="web-text">
  <h1><strong>Young Adults<br>& Deprssion</strong></h1>
      <a target="_blank" href="../static/graphics/infographic.png">
        <img src="../static/graphics/infographic.png" alt="NAMI" style="width:400px" Align="right">
    </a>
    <br>
    <p>College is an exciting time for many young people. 
        It is common for many college students to experience stress 
        because of the new challenges college brings — moving away from 
        home, studying, and adjusting to a new life.</p>
        <br>
        <p>Trying to cope with so many new changes may cause some 
        students to deal with depression. Studies show that more students 
        are dealing with depression than those of previous generations. 
        Explore this site to learn more about the signs of depression and what you can do to 
        manage your mental health.</p>
        <br>

    <br>
    <br>
    <br>
    <br>
    </div>
    
      <div class="footer">
        <p>Project 4 | Group 3</p>
      </div>
      
</body>
 
  